:root {
  --back-ground-color: rgba(30, 37, 49);
  --white-text-color: rgb(215, 222, 230);
  --title-text-color: rgba(255, 234, 0, 0.766);
  --card-background-color: rgb(9, 26, 50);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  background-color: var(--back-ground-color);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

h1 {
  margin: 0;
}

.title-sec {
  margin-top: 40px;
  color: var(--title-text-color);
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 100px;
  align-items: center;
}

.title-sec > h1 {
  font-size: 5rem;
  font-family: "New Rocker", system-ui;
  margin: 0px 20px 0px 20px;
}

.title-sec > p {
  font-family: "Germania One", system-ui;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  margin: 10px 20px 0px 20px;
}

.course-select {
  background-color: var(--back-ground-color);
  color: var(--white-text-color);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.card-space {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.sec-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.course-card {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  background-color: var(--card-background-color);
  padding: 15px;
  border-radius: 5px;
  max-width: fit-content;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  min-width: 330px;
}

.course-card > span {
  margin-top: 10px;
  font-size: 1rem;
}

.calculator {
  color: rgb(215, 222, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator > .title {
  color: var(--title-text-color);
  font-family: "Germania One", system-ui;
  font-size: 3rem;
}

section {
  margin-bottom: 50px;
}
