* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(34, 42, 56);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

h1 {
  margin: 0;
}

.title-sec {
  color: rgba(255, 234, 0, 0.766);
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 50px;
  align-items: center;
}

.title-sec > h1 {
  font-size: 5rem;
  font-family: "New Rocker", system-ui;
}

.course-select {
  background-color: rgba(34, 42, 56);
  color: rgb(215, 222, 230);
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.course-card {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  background-color: rgb(9, 26, 50);
  padding: 15px;
  border-radius: 5px;
  max-width: fit-content;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

.course-card > span {
  margin-top: 10px;
  font-size: 1rem;
}
